/classwork/HelloWorld/target/
/classwork/windowmaster/target/
/classwork/PracticeProgramming/target/
/classwork/ShapesAndPerimeters/target/
/classwork/ClassRoster/target/
/classwork/Calculator/target/
/classwork/RefactorToObjects/target/
/classwork/MonstrousDaoTestingLab/nbproject/
/classwork/AddressBook/target/
/classwork/ClassRoster/nbproject/
/classwork/StatelessUnitTesting/target/
/classwork/StatelessUnitTesting/nbproject/
/classwork/BookTracker/target/
/classwork/JDBCExampleStarter/target/
/classwork/JDBCTemplateExampleStarter/target/
/classwork/JDBCTComplexExampleStarter/target/
/classwork/JDBCTComplexExampleStarter/nbproject/
/classwork/SpringApp/target/
/classwork/ToDoAPI/target/
/classwork/GuessTheNumber/target/
/classwork/ToDoAPI/nbproject/
